li{
	color: white;
	padding: 15px 20px;
	font-size: 18px;
}
h2{
	padding-left: 10px;
	color:white;
	font-size: 18px;
}
nav{
	margin-bottom: 30px;
}
.list-group-item{
	color: black;
	font-size: 15px;
}
#deseos{
	color:blue;
}
#myCarousel{
	margin-bottom: 30px;
}
.input-group{
	margin-bottom: 20px;
}
.card{
	margin-bottom: 30px;
}
#cam{
	padding: 0;
}